.App {
  font-family: sans-serif;
  text-align: center;
}
.h2 {
  font-size: 15px;
}
.para {
  font-weight: bold;
  font-size: 20px;
}
.btn {
  color: white;
  background-color: blue;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
}
